.color_container {
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 1000;
  .setting_Svg {
    background: white;
    border-radius: 0.5rem;
    svg {
      animation: rotate 3s linear infinite 2s;
    }
  }
  .color_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 0.6rem;
    padding: 1rem;
    background: white;
  }
  .single_color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  .color_btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    min-width: 0;
    border: none;
  }
  .svg_button {
    padding: 0.7rem;
    border: none;
    min-width: 0;
  }
  .color_wrapper {
    transform: translateX(0);
    transition-duration: 2s;
    // overflow: hidden;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

svg:not(.cls-3, .cls-4) {
  stroke: none !important;
}